<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
  <title>GAMES</title>

  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

</head>

<body>
<div th:replace="fragments/header :: header"></div>

<div class="divSection" >
  <h1 class="text-center" style="margin: 20px 20px;">Welcome to our Gaming Rental Website</h1>

  <div>

    <p><strong>
      Save Money with Our Rental Options. Rent any game from our selection for a flat rate of $5 per week！
    </strong> </P>
<p>
Browse, Search and Order your favorite games with ease on our website. We offer an extensive selection of games, including the latest releases, all available for rent at affordable prices. Our search functionality makes it easy to find the games you love, and our user-friendly interface allows for a smooth browsing experience.
</p>
<p>

Gaming can be an expensive hobby, which is why we offer affordable rental options for many of our games. Rent the games you want, and have them shipped to your doorstep. Enjoy your favorite titles without breaking the bank.

    </P>

    <h1><center>$5 per week, flat rate!</center></h1>
  </div>



</div>


<div th:replace="fragments/footer :: footer"></div>

</body>

</html>